*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik",sans-serif;
    letter-spacing: 0.4px;
}
body{
    background-color: #f3f3f3;
    height: 100%;
    background: linear-gradient(
        135deg,
        #6f6df4,
        #4c4af4
    ) fixed;
    background-size: 100% 50%;
    background-repeat: no-repeat;
}
.container{
    background-color: #ffffff;
    width: 450px;
    padding: 50px 40px;
    border-radius: 10px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    box-shadow: 0 30px 50px rgba(0,0,0,0.1);
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 14px 0;
}
.lbl{
    font-size: 16px;
    color: #44475b;
    font-weight: 400;
}
.val{
    color: #44475b;
    font-weight: 500;
    font-size: 18px;
}
.input-box{
    background-color: #cdccfd;
    color: #6f6df4;
    padding: 5px;
}
#bill{
    background-color: transparent;
    border: none;
    outline: none;
    width: 100px;
    text-align: right;
    color: #6f6df4;
}
hr{
    border: none;
    border-bottom: 1px solid #cdccfd;
}
input[type="range"]{
    width: 100%;
    cursor: pointer;
}
input[type="range"]:not(:last-child){
    margin-bottom: 5px;
}

section:not(:first-child){
    margin-top: 30px;
}
section:last-child{
    background-color: #cdccfd;
    padding: 10px;
    border-radius: 5px;
}
section:last-child .val,
section:last-child .lbl{
    color: #4c4af4;
}




/* My comments */
.tip-btns {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10px;   
  }
.tips {
    width: 120px;
    color: white;
    background-color: #0c0b58;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 7px;
    font-size: 1.1rem;
    text-align: center;
    margin-top: 10px;
  }

  .tip-btns input {
    width: 120px;
    padding: 0.5rem;
    text-align: center;
    font-size: 1rem;
    border: none;
    background-color: #4745b8;
    border-radius: 7px;
    outline-color: #0c0b58;
    color: white;
    margin-top: 10px;
  }

  .people input{
    width: 100%;
    padding: 0.5rem;
    text-align: center;
    font-size: 1rem;
    border: none;
    background-color: #3e3cc7;
    border-radius: 7px;
    outline-color: #0c0b58;
    color: white;
  }


  .calculate-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    color: white;
    background-color: #0c0b58;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 7px;
    font-size: 1.1rem;
    margin-left: auto;
    margin-right: auto;
  }
  .border{
    border-top: 1px solid #3e3cc7;
    margin-top: 15px;
  }
.error{
    color: red;
    display: none;
}
.active-tip{
    background-color: #4745b5;
}